:root {
    --background: #ffe5b8;
    --primary: #f5793b;
    --primaryDark: #e76b2d;
}

body {
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0px;
}

.item {
    background: var(--primary);
    /* padding: 20px; */
    height: 92px;
    width: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
    animation: itemArrival 1s;
    overflow: hidden;
}

.item img {
    position: absolute;
    height: inherit;
    width: inherit;
}

.item h1 {
    display: none;
}

item label {
    display: none;
}

.selectedCell img {
    opacity: 0.5;
}


}
.item:hover {
    background: var(--primaryDark);
}
@keyframes itemArrival {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
label {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 12px;
    display: none;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
}
#itemsContainer {
    width: 454px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1px;
    height: max-content;
}
.gameover {
    display: flex;
    background: var(--primary);
    width: 640px;
    height: 440px;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    animation: splash 0.25s ease-out;
    position: relative;
    box-shadow: 0px 32px 64px #00000030;
}
.splashContainer {
    position: absolute;
    /* display: none; */
}
@keyframes splash {
    0% {
        opacity: 0;
        display: none;
        top: 64px;
        transform: scale(0.75);
    }
    
    100% {
        opacity: 1;
        display: flex;
        top: 0px;
        transform: scale(1);
    }
}
.gameover h2 {
    text-align: center;
    color: var(--background);
    font-size: 54px;
    margin: 12px;
    font-weight: 500;
}
.gameover span {
    font-size: 32px;
}
button {
    border-radius: 6px;
    background: unset;
    border: 2px solid var(--background);
    font-size: 24px;
    font-weight: 700;
    padding: 18px 32px;
    color: var(--background);
    outline: 0px;
    margin-top: 64px;
    cursor: pointer;
    transition: 0.25s ease-in;
}
button:hover {
    background: var(--background);
    color: var(--primary);
}
.exit {
    position: absolute;
    top: 28px;
    right: 32px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 2px solid var(--background);
    margin-top: 0px;
    padding: 20px 22px;
}
.shuffle {
    background: var(--primary);
    border-color: var(--primary);
}